<launch>
  <arg name="package" value="dwa_planner" />
  <arg name="package_dir" value="$(find dwa_planner)" />

  <include file="$(arg package_dir)/launch/dwa_planner.launch" />

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz_$(arg package)"
    args="-d $(arg package_dir)/rviz/local_planner.rviz" />
</launch>